{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Solicitud'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block menu %}
    {% include 'HapSoporteBundle:Menu:menu.html.twig' %}
{% endblock menu %}



{% block page %}
    
    

<h1>{{ 'Nueva Solicitud'|trans({'%entity%': 'Solicitud'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('solicitud_create') }}" method="post" {{ form_enctype(form) }} style="width: 700px;">
    {{ form_row(form.categoria) }}
    {{ form_row(form.cantidad) }}
    {{ form_row(form.fechaInicio) }}
    {{ form_row(form.fechaEntrega) }}
    {{ form_row(form.comentario) }}
    {{ form_row(form.destino) }}
    
    {{ form_widget(form._token) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('solicitud') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
            
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
           var $categoria = $('#hap_soportebundle_solicitud_categoria');
            // When sport gets selected ...
            $categoria.change(function() {
              // ... retrieve the corresponding form.
              var $form = $(this).closest('form');
              // Simulate form data, but only include the selected sport value.
              var data = {};
              data[$categoria.attr('name')] = $categoria.val();
              // Submit data via AJAX to the form's action path.
              $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                  // Replace current position field ...
                  $('#hap_soportebundle_solicitud_cantidad').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#hap_soportebundle_solicitud_cantidad')
                  );
                  // Position field now displays the appropriate positions.
                }
              });
            });
            /*
           $( "#hap_soportebundle_solicitud_categoria" )
            .change(function () {
              var str = "";
              $( "#hap_soportebundle_solicitud_categoria option:selected" ).each(function() {
                str += $( this ).text() + " ";
                cambiar($( this ).val());
              });
              //alert(str);
            })
            .change();
    
            function cambiar(str){
                //var a = str.split("-");
                var url = "";
                
                $.post(url,{
                        nombre: str//a[0]
                    },function(data){
                        if(data.responseCode==200 ||     data.responseCode==400 ){
                            //$('#dina').html(data.datos);
                            $('#hap_soportebundle_solicitud_cantidad').html(data.datos);
                        }else{
                            alert('Ha ocurrido un error');
                        }
                    }

                );
            }
            */
            
        });
    </script>
{% endblock %}
