<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
        
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="navbar navbar-fixed-top navbar-default">
            <div class="navbar-inner navbar-brand">
                {{ knp_menu_render('HapSoporteBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'HapSoporteBundle:Menu:knp_menu.html.twig'}) }}
            </div>
        </div>
            
        <div class="content" style="margin-top: 150px;margin-left: 80px;">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    
    </body>
</html>
