{% extends "::base.html.twig" %}
{% use 'form_div_layout.html.twig' with form_label as base_form_label %}

{% block form_label %}
    {{ block('base_form_label') }}

    {% if required %}
        <span class="required" title="Este campo es requerido">*</span>
    {% endif %}
{% endblock %}

{% block title "Soporte - Formulario Categoria" %}

{% block body %}
    
    {% if st == 1 %}
        <div style="width: 450px;" class="alert alert-success" role="alert">Categoria agregada correctamente</div>
    {% endif %}
    <form action="{{ path('_nueva_categoria') }}" method="POST" id="nueva_categoria_form" class="navbar-form">
        {{ form_errors(form) }}
        
        <div>
            {{ form_label(form.nombreCategoria) }}
            {{ form_errors(form.nombreCategoria) }}
            {{ form_widget(form.nombreCategoria, {'attr': {'class': 'form-control','placeholder': 'Nombre Categoria','aria-describedby': 'sizing-addon2'}}) }}
        </div>
        
        {{ form_rest(form) }}
        <input type="submit" value="Guardar" class="btn btn-default navbar-btn" />
    </form>
{% endblock %}